.container {
  color: white;
  width: 100%;
  display: flex;
}
.Navbar-container {
  background: #333333;
}
.main {
  display: grid;
  grid-template-rows: 1fr 9fr;
}
.header {
  background: #333333;
}
.carousel-container {
  width: 50vw;
  background: yellow;
  margin: 16px;
}
